;; ┌────────────────────────────────────────────────────────────┐
;; │░█▀█░█▀█░█░░░█░█░█▀▄░█▀█░█▀▄░░░░░░░░░█▀▀░█▀█░█▀█░█▀▀░▀█▀░█▀▀│
;; │░█▀▀░█░█░█░░░░█░░█▀▄░█▀█░█▀▄░░░░▀░░░░█░░░█░█░█░█░█▀▀░░█░░█░█│
;; │░▀░░░▀▀▀░▀▀▀░░▀░░▀▀░░▀░▀░▀░▀░░░░▀░░░░▀▀▀░▀▀▀░▀░▀░▀░░░▀▀▀░▀▀▀│
;; └────────────────────────────────────────────────────────────┘


[global/wm]
margin-top = 0
margin-bottom = 0


;; File Inclusion
include-file = ~/.config/polybar/polybar.colors
include-file = ~/.config/polybar/polybar.modules


[settings]
screenchange-reload = true
throttle-output = 5
throttle-output-for = 10
compositing-background = source
compositing-foreground = over
compositing-overline = over
compositing-underline = over
compositing-border = over
pseudo-transparency = false

[bar/bspwmbar]
inherit = bar/barbase
enable-ipc = true
wm-restack = bspwm
;override-redirect = true
modules-left = bspwm rchev xwindow

[bar/barbase]
width = ${env:width}
monitor = ${env:monitor}
offset-x = 0
offset-y = 0
height = 30
fixed-center = true
bottom = false
background = ${color.background}
foreground = ${color.foreground}
radius-top = 0
radius-bottom = 0
padding-left = 2
padding-right = 2
module-margin-left = 2
module-margin-right = 2
font-0 = "DejaVu:size=13;3"
font-1 = "FontAwesome:size=13;3"
modules-right = pulseaudio battery wireless weather date time
border-bottom = 0
border-color = ${color.primary}
cursor-click = pointer
cursor-scroll = ns-resize
line-size = 4
line-color = ${color.primary}
